@value makerGreen, makerLightGrey from '../../common/colors.css';

.editor{
  flex-basis: 50%;
  border-right: 1px solid makerLightGrey;
  padding: 0.5em 2em;
  overflow-y: auto;

}

.editor::-webkit-scrollbar {
  width: 12px;
}


.editor::-webkit-scrollbar-track {
  background-color: makerLightGrey;
    border-radius: 6px;
}

.editor::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: makerGreen;
  
}
.title{
  width: 100%;
  text-align : center;
  margin-bottom: 1em;
  color: makerGreen;
  
}