
.card{
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 1em;
  margin-bottom: 0.5em;
  padding : 0.2em 0;
  box-shadow: 6px 6px 8px 0px rgba(217,217,217,1);
  max-width: 30rem;
}

.card.dark {
  background-color: black;
  color: white;

}


.card.light {
  background-color: white;
  color: black;
  
}

.card.colorful {
  background-image: linear-gradient(166deg, rgba(237, 193, 211, 1) 0%,rgba(212, 149, 161, 1) 60%, rgba(162, 63, 63, 1) 100%, rgba(127, 188, 242, 1) 100%);
  color: black;
}

.card.beige{
  background-color: #ac9161;
  color: white;
}
.avatar{
  width: 10em;
  height: 10em;
  padding: 1em;
  margin-left: 0.5em;
  margin-right: 1em;
  border-radius: 50%;
  min-width: 10em;

}

.info{
  width: 100%;
}

.name, .job, .debt, .email, .message {
  margin: 0;
  font-size: 0.8em;
  margin-bottom: 0.2em;
}

.name{
  font-size: 1.2em;
}

.job{
  margin-bottom: 1em;

}

.job::after{
  content: '';
  display: block;
  width: 90%;
  height: 2px;
  background-color: wheat;
  transform: translateY(0.5em);
}