@value makerGreen, makerWhite, makerBlack, makerPink from '../../common/colors.css';

.header {
  width: 100%;
  text-align : center;
  padding : 0.5em;
  background-color: makerBlack;
  position:relative;

}

.logo{
  /* width: 3em; */
  height: 2em;
}

.title{
  margin: 0;
  color: makerWhite;
  margin-top: 0.5rem;
  font-weight: 500;
}

.logout{
  position: absolute;
  right: 3em;
  top: 1em;
  padding: 0.8em;
  border-radius: 30%;
  background-color: makerGreen;
  color : makerWhite;
  outline: 0;
  border: 0;
  cursor : pointer;
  transition: 0.8s;

}

.logout:hover{
  background-color: makerPink;
  color: makerBlack;

}